﻿<!--<form class="form-horizontal">-->

  <!--<div class="form-group">-->
    <!--<label for="inputName" class="col-sm-2 control-label">Project name</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputName" placeholder="Project name">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputCreateDate" class="col-sm-2 control-label">Creation date</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputCreateDate" placeholder="Creation date">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputCompleteDate" class="col-sm-2 control-label">Completion date</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputCompleteDate" placeholder="Completion date">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputManager" class="col-sm-2 control-label">Manager</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputManager" placeholder="Manager">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputRiskRating" class="col-sm-2 control-label">Risk rating</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputRiskRating" placeholder="Risk rating">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputCpi" class="col-sm-2 control-label">CPI</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputCpi" placeholder="CPI">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputSpi" class="col-sm-2 control-label">SPI</label>-->
    <!--<div class="col-sm-10">-->
      <!--<input type="text" class="form-control" id="inputSpi" placeholder="SPI">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<div class="col-sm-offset-2 col-sm-10">-->
      <!--<a class="btn" href="javascript:history.back()">BACK</a>-->
      <!--<a class="btn btn-default">UPDATE</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->


<div>
  <h2><span translate="liferayProjectsPortlet.project.detail.title">Project</span> {{vm.project.id}}</h2>
  <hr>

  <dl class="dl-horizontal jh-entity-details">
    <dt><span translate="liferayProjectsPortlet.project.name">Name</span></dt>
    <dd>
      <span>{{vm.project.name}}</span>
    </dd>
    <dt><span translate="liferayProjectsPortlet.project.createDate">Create Date</span></dt>
    <dd>
      <span>{{vm.project.createDate | date:'medium'}}</span>
    </dd>
    <dt><span translate="liferayProjectsPortlet.project.completeDate">Complete Date</span></dt>
    <dd>
      <span>{{vm.project.completeDate | date:'medium'}}</span>
    </dd>
    <dt><span translate="liferayProjectsPortlet.project.manager">Manager</span></dt>
    <dd>
      <span>{{vm.project.manager}}</span>
    </dd>
    <dt><span translate="liferayProjectsPortlet.project.riskRating">Risk Rating</span></dt>
    <dd>
      <span>{{vm.project.riskRating}}</span>
    </dd>
    <dt><span translate="liferayProjectsPortlet.project.cpi">Cpi</span></dt>
    <dd>
      <span>{{vm.project.cpi}}</span>
    </dd>
    <dt><span translate="liferayProjectsPortlet.project.spi">Spi</span></dt>
    <dd>
      <span>{{vm.project.spi}}</span>
    </dd>
  </dl>

  <button type="submit"
          onclick="window.history.back()"
          class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
  </button>
</div>
