﻿<div>
  <h2 translate="liferayProjectsPortlet.project.home.title">Projects</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="project.new" >
          <span class="glyphicon glyphicon-plus"></span>
          <span translate="liferayProjectsPortlet.project.home.createLabel">
              Create new Project
          </span>
        </button>
      </div>
    </div>
  </div>

  <br/>

  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
      <tr>
        <th><span translate="global.field.id">ID</span></th>
        <th><span translate="liferayProjectsPortlet.project.name">Name</span></th>
        <th><span translate="liferayProjectsPortlet.project.createDate">Create Date</span></th>
        <th><span translate="liferayProjectsPortlet.project.completeDate">Complete Date</span></th>
        <th><span translate="liferayProjectsPortlet.project.manager">Manager</span></th>
        <th><span translate="liferayProjectsPortlet.project.riskRating">Risk Rating</span></th>
        <th><span translate="liferayProjectsPortlet.project.cpi">Cpi</span></th>
        <th><span translate="liferayProjectsPortlet.project.spi">Spi</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in vm.projects">
        <td><a ui-sref="project-detail({id:project.id})">{{project.id}}</a></td>
        <td>{{project.name}}</td>
        <td>{{project.createDate | date:'medium'}}</td>
        <td>{{project.completeDate | date:'medium'}}</td>
        <td>{{project.manager}}</td>
        <td>{{project.riskRating}}</td>
        <td>{{project.cpi}}</td>
        <td>{{project.spi}}</td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    ui-sref="project-detail({id:project.id})"
                    class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
            </button>
            <button type="submit"
                    ui-sref="project.edit({id:project.id})"
                    class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
            </button>
            <button type="submit"
                    ui-sref="project.delete({id:project.id})"
                    class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span>
              <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
