<form name="editForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProjectLabel" translate="liferayProjectsPortlet.project.home.createOrEditLabel">Create or edit a Project</h4>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-show="vm.project.id">
      <label for="id" translate="global.field.id">ID</label>
      <input type="text" class="form-control" id="id" name="id" ng-model="vm.project.id" readonly/>
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.name" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.project.name"
      />
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.createDate" for="field_createDate">Create Date</label>
      <div class="input-group">
        <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.project.createDate" is-open="vm.datePickerOpenStatus.createDate"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.completeDate" for="field_completeDate">Complete Date</label>
      <div class="input-group">
        <input id="field_completeDate" type="text" class="form-control" name="completeDate" datetime-picker="{{dateformat}}" ng-model="vm.project.completeDate" is-open="vm.datePickerOpenStatus.completeDate"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('completeDate')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.manager" for="field_manager">Manager</label>
      <input type="text" class="form-control" name="manager" id="field_manager" ng-model="vm.project.manager"      />
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.riskRating" for="field_riskRating">Risk Rating</label>
      <input type="number" class="form-control" name="riskRating" id="field_riskRating" ng-model="vm.project.riskRating"/>
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.cpi" for="field_cpi">Cpi</label>
      <input type="number" class="form-control" name="cpi" id="field_cpi" ng-model="vm.project.cpi"/>
    </div>
    <div class="form-group">
      <label class="control-label" translate="liferayProjectsPortlet.project.spi" for="field_spi">Spi</label>
      <input type="number" class="form-control" name="spi" id="field_spi" ng-model="vm.project.spi"/>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
